/* #Primary Sass file */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@charset 'utf-8';
/*start color*/
@import 'color/colors';
/*end color*/
/*start typography variables*/
@import 'base/typography';
/*end typography variables*/
/*start variables*/
@import 'helpers/variables';

/*end variables*/
/*start scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $bg;
    height: 40px;
    /* border radius '3px' was here*/
}

/*end scrollbar*/
/*start mixin*/
@import 'helpers/mixins';

/*end mixin
/*animations*/
@keyframes moveInleft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
        // X goes from left to right
        // Y goes from top to bottom
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInright {
    0% {
        opacity: 0;
        transform: translateX(100px);
        //X goes from left to right
        //Y goes from top to bottom
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes moveInright-1 {
    0% {
        opacity: 0;
        transform: translateX(100px);
        //X goes from left to right
        //Y goes from top to bottom
    }

    80% {
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*animations*/
/*end mixin*/
/*start typography*/
.uppercase {
    text-transform: uppercase;
}

.primary-heading {
    color: $white;
    font-size: 35px;
    @include fontLato;
    letter-spacing: 35;
}

.primary-p {
    color: $white;
    font-size: 20px;
    @include fontLato;
    line-height: 1.7;
}

h2 {
    line-height: 1.2;
    /*'font-size:1.9rem;' was here*/
    //
    margin-bottom: $heading-margin-bottom;
    margin-top: $heading-margin-top;
    font-size: 36px;
}

p {
    text-align: left;
    margin-bottom: $paragraph-margin-bottom / 2;
}

h3 {
    /*'font-size:1.8rem;' was here*/
    //
    margin-bottom: ($heading-margin-bottom / 2);
    margin-top: ($heading-margin-top / 2);
}

h4 {
    margin-bottom: (($heading-margin-bottom / 3) * 2);
    margin-top: ((($heading-margin-top) / 3) * 2);
}

/*end typography*/
/*start components buttons*/
/*start chatbot*/
.Ndisplay {
    display: none;
}

@import 'components/buttons';

.chatbot-card-one {
    position: fixed;
    z-index: 9999;
    top: calc(#{$hero-bg-height} - 145px * 1.5 * 1.026666 * 1.075);
    left: calc(100% - 200px * 1.5 * 1.026666 * 1.05);
    width: 290px;
    height: 400px;
    background-color: #f1f1f1;
    border-radius: 15px;

    &__title {
        height: 175px;
        color: #a5a4a7;
        background-color: #fff;
        padding: 20px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        label {
            width: 22.5px;
            height: 22.5px;
            background: $dark-green;
            border-radius: 50%;
            border: 2px solid #fff;
            position: absolute;
            top: 25%;
            left: 37.5%;
            z-index: 2;
        }

        img:first-of-type {
            position: absolute;
            left: 47.5% * 1.19;
            opacity: .6;
            width: 50px;
            border-radius: 50%;
            border: 2px solid $bg;
            cursor: pointer;
        }

        img:nth-of-type(2) {
            position: absolute;
            z-index: 1;
            left: 37.5%;
            top: 10%;
            width: 75px;
            border-radius: 50%;
            border: 2px solid $bg;
            cursor: pointer;
        }

        img:last-of-type {
            position: absolute;
            left: 27.5%;
            opacity: .6;
            width: 50px;
            border-radius: 50%;
            border: 2px solid $bg;
            cursor: pointer;
        }

        p {
            margin-top: 47.5%;
            text-align: center;
            font-size: 17px;
        }

    }

    &__body {
        height: 275px;

        button {
            position: absolute;
            padding: 10px 25px;
            width: 150px;
            top: 75%;
            left: 25%;
        }
    }

}

.chatbot-card-two {
    position: fixed;
    z-index: 9998;
    top: calc(#{$hero-bg-height} - 145px * 1.5 * 1.026666 * 1.075);
    left: calc(100% - 200px * 1.5 * 1.026666 * 1.05);
    width: 290px;
    height: 400px;
    background-color: #f1f1f1;
    border-radius: 15px;

    &__title {
        height: 85px;
        color: #a5a4a7;
        background-color: #fff;
        padding: 20px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        label {
            width: 15px;
            height: 15px;
            background: $dark-green;
            border-radius: 50%;
            border: 2px solid #fff;
            position: absolute;
            top: 75%;
        }

        img {
            width: 50px;
            border-radius: 50%;
            border: 2px solid $bg;
            cursor: pointer;
        }

        &__text {
            span {
                font-size: 18px;
            }

            p {
                font-size: 15px;
                color: #ccc;
            }
        }
    }

    &__body {
        height: 275px;
    }

    &__messageinput {
        background-color: #fff;
        color: #999;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;

        input {
            width: 70%;
            border: none;
            height: 40px;
            font-size: 16px;
            border-bottom-left-radius: 15px;
            text-indent: 15px;

            &:focus {
                outline: none;
            }
        }

        button {
            background: none;
            border: none;
            margin-left: 10px;
            transition: color .4s ease;

            &:first-of-type {
                margin-left: 30px;
            }

            &:focus {
                outline: none
            }

            &:hover {
                color: $bg;
            }
        }
    }
}

/*end components button*/
/*start placeholder helps*/
/*end placeholders helpers*/
/*start primary style*/
h2,
h3 {
    @include U-Select(text);

    &::selection {
        color: white;
        background: #272727;
    }
}

body {
    @include fontLato;
    line-height: 1.7;
    font-size: 16px;
    @include U-Select(none);
}

/*start navigation*/
@import 'components/navigation';
/*end navigation*/
/*start header*/
@import 'layout/header';

/*end header*/
/*start our jobs*/
.our-jobs {
    $card-count: 6;
    /* local variable*/
    padding-bottom: 40px;

    h2 {
        font-size: 4rem;
        display: block;
        margin-bottom: $heading-margin-bottom;

        hr {
            @include HRule;
        }
    }

    h3 {
        font-size: 2rem;
        @include fontLato;
        color: #707070;
    }

    p {
        padding: 10px 30px;
        color: #7b7b7b;
    }

    .card {
        padding-top: $paragraph-margin-bottom;

        img {
            width: 60px;
            height: 60px;
        }

        &:after {
            content: "";
            position: absolute;
            top: 15%;
            right: 0;
            width: .998px;
            height: 75%;
            background: #ebebeb;
        }

        &:nth-of-type(3n):after {
            width: 0px
        }

        ;

        &:nth-of-type(n-3):after {
            top: 24%
        }

        ;

        &:nth-of-type(n+4):after {
            top: 1%
        }

        ;

        &:nth-of-type(n+4) {
            border-top: 0.998px solid #ebebeb;
        }
    }
}

/*end our jobs*/
/*start latest released*/
.release {
    background-color: #f9f9f9;
    padding: 60px 0;
    padding-top: 0;

    h2 {
        color: $bg;

        hr {
            @include HRule;
        }
    }

    .card-1 {
        margin-bottom: 50px;

        a {
            display: block;
        }

        img {
            @include transition;
            @include boxShadow($box-shadow-style);
            margin: 50px 0 0;
            background-color: $white;
            cursor: pointer;

            &:hover {
                transform: scale(1.01, 1.01);
                @include boxShadow($box-shadow-style-3)
            }

            &:active {
                @include boxShadow($box-shadow-style-2)
            }
        }
    }

    a {
        &:hover {}

        &:active {}
    }
}

/*end latest released*/
/*start latest work*/
.work {
    background: $white;
    padding-bottom: 40px;

    h2 {
        color: $bg;

        hr {
            @include HRule;
        }
    }

    hr {
        margin: 10px 0;
        border-width: 1.5px
    }

    ul {
        list-style: none;

        li {
            &.active {
                color: #4bf;
                font-weight: 600;
            }

            color: #c5c5c5;
            display: inline-block;
            margin: 0 10px;
            cursor: pointer;

            &:hover {
                color: $bg;
            }

        }
    }

    .showcase {
        @include transition-v(.4s);
        background: $bg;
        margin: 40px 0;
        overflow: hidden;
        height: 680px;

        .card-2 {
            img {
                @include boxShadow($box-shadow-style-2);
                cursor: pointer;
                margin-top: 35px;
                @include transition;

                &:hover {
                    transform: scale(1.01, 1.01);
                    @include boxShadow($box-shadow-style-3);
                }

                &:active {
                    @include boxShadow($box-shadow-style-2);
                }
            }



        }

    }
}

/*end latest work*/
/*start our stats*/
.stats {
    padding-bottom: 80px;

    h2 {
        color: $bg;

        hr {
            @include HRule;
        }
    }

    h4 {
        color: $bg;
        font-size: 45px;
        margin-bottom: 10px;
        font-weight: bold;
        letter-spacing: 3px;
    }

    span {
        color: $bg;
        font-size: 20px;
    }

}

/*end our stats*/
/*start review*/
.review {
    padding-bottom: 100px;
    background: #f9f9f9;

    h2 {
        color: $bg;

        hr {
            @include HRule;
        }
    }

    .review-box {
        @include boxShadow($box-shadow-style-2);
        @include transition;
        cursor: pointer;
        background-color: $white;
        padding: 15px 10px;
        margin: 50px 0;

        h3 {
            color: #444;
            font-size: 28px;
        }

        h4 {
            color: #858585;
            margin-top: 15px
        }

        ul {
            li {
                display: inline-block;
                padding: 0;
                cursor: pointer;

                .fa-star,
                .fa-star-half-o {
                    color: $star-color;
                }
            }

            span {
                font-weight: bold;
                margin-left: 5px;
                color: #444;
            }
        }

        p {
            padding: 10px 15px;
            color: #969696;
        }

        &:hover {
            @include boxShadow($box-shadow-style-3);
        }

        &:active {
            @include boxShadow($box-shadow-style-2);
        }
    }
}

/*end review*/
/*start our team*/
.team {
    h2 {
        color: $bg;

        hr {
            @include HRule;
            margin-left: 44%;
        }
    }

    img {
        margin-top: 60px;
    }
}

/*end our team*/
/*start our blog*/
@import 'pages/blog';
/*end our blog*/
/*start contact*/
@import 'pages/contact';

/*end contact*/
/*start recommendation*/
.recommendation {
    padding: 30px 0;
    background: $bg;

    h3 {
        color: $white;
        font-size: 30px;
    }

    button {
        margin-top: 35px;
    }
}

/*end recommendation*/
/*start big footer*/
@import 'layout/footer';

/*end footer*/
/*end primary style*/
//start about us
.hero-bg {
    background: $hero-bg;
    padding: 60px 0;
    height: $hero-bg-height;

    span {
        color: white;
    }

    h1 {
        color: white;
        font-weight: bold;
    }

    .logo {
        height: 35px;
        display: block;
    }
}

.video-section {
    h1 {}

    p:first-of-type {
        color: #333;
        text-align: left;
        font-weight: 500
    }

    p {
        color: #555;
        margin-top: $paragraph-margin-top;
        @include fontRoboto;
    }

    p:last-of-type {
        margin-bottom: $paragraph-margin-bottom;
    }
}



.our-skills {
    background-color: #f9f9f9;
    padding: 60px 0;
    padding-top: 0;

    h2 {
        font-size: 3.6rem;
        display: block;
        margin-bottom: $heading-margin-bottom;
    }

    hr {
        @include HRule;
    }

    span {
        color: #4e4e4e;
        margin-bottom: 30px;
    }
}

//start 404 error page
.error {
    background-color: #e4e4e48c; //#333 was here
    padding: 130px 0 60px;

    img {
        width: 85%;
    }

    p {
        margin: 0;
        font-size: 1.2em;
    }

    p:nth-of-type(n+2) {
        margin-top: 15px;
    }

    p:last-of-type {
        margin-top: 0px;
    }

    ul {
        margin: 40px 0 40px 10px;

        li {
            font-size: 17px;
        }
    }
}

.mapboxgl-ctrl-logo {
    opacity: 0;
    position: relative;
    top: 30px;
}

address {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: #489AFB;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 17px;
}


/*start media query*/
@media (max-width: 320px) {
    .navbar-header {
        top: 2rem;
        left: 14rem;
    }

    .chatbot-btn {
        display: none;
    }

    .chatbot-card-two {
        display: none;
    }

    .chatbot-card-one {
        display: none;
    }

    .header_2 {
        height: 570px;
    }

    .our-jobs {
        .card {
            border-top: 0px solid #444;

            //&:nth-of-type(2n):after{width: 0px};
            &:after {
                width: 0px
            }

            ;
        }

        p {
            padding: 10px 0;
            text-align: center;
        }
    }

    .footer {
        text-align: center;

        button {
            margin-top: 5px;
            padding: 8px 14px 8px 14px;
        }

        p {
            text-align: center
        }
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    .navbar-header {
        top: 2rem;
        left: 14rem;
    }

    .chatbot-btn {
        display: none;
    }

    .chatbot-card-two {
        display: none;
    }

    .chatbot-card-one {
        display: none;
    }

    .header_2 {
        height: 500px;
    }

    .our-jobs {
        .card {
            &:nth-of-type(n+4) {
                border-top: 0px solid #444;
            }
        }
    }

    .footer {
        text-align: center;

        button {
            margin-top: 5px;
            padding: 8px 14px 8px 14px;
        }

        p {
            text-align: center
        }
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .navbar-header {
        top: 2rem;
        left: 18rem;
    }

    .chatbot-btn {
        display: none;
    }

    .chatbot-card-two {
        display: none;
    }

    .chatbot-card-one {
        display: none;
    }

    .header_2 {
        height: 443.75px;
    }

    .our-jobs {
        .card {
            &:nth-of-type(n+4) {
                border-top: 0px solid #444;
            }
        }
    }

    .footer {
        text-align: center;

        button {
            margin-top: 5px;
            padding: 8px 14px 8px 14px;
        }

        p {
            text-align: center
        }
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .navbar-header {
        top: 8rem;
    }

    .chatbot-btn {
        display: none;
    }

    .chatbot-card-two {
        display: none;
    }

    .chatbot-card-one {
        display: none;
    }

    .header_2 {
        height: 390px;
    }

    .our-jobs {
        .card {

            //&:nth-of-type(2n):after{width: 0px};
            &:nth-of-type(3n):after {
                width: 0px
            }

            ;

            &:nth-of-type(n-3):after {
                top: 10%;
                width: 0;
            }

            &:nth-of-type(n+4):after {
                top: 10%;
                width: 0;
            }

            &:nth-of-type(2n+1):after {
                width: .998px
            }

            &:nth-of-type(n+4) {
                border-top: 0px solid #444;
            }
        }
    }

    .footer {
        button {
            margin-top: 5px;
            padding: 8px 14px 8px 14px;
        }
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .fix {
        top: 8rem;
    }

    .header_2 {
        height: 443.75px;
    }

    .our-jobs {
        .card {
            &:after {
                background: #ccc;
                width: 0.6px
            }

            //&:nth-of-type(2n):after{width: 0px};
            &:nth-of-type(3n):after {
                width: 0px
            }

            ;

            &:nth-of-type(n-3):after {
                top: 10%;
                width: 0;
            }

            &:nth-of-type(n+3):after {
                top: 10%;
                width: 0;
            }

            &:nth-of-type(2n+1):after {
                width: .998px
            }

            &:nth-of-type(n+4) {
                border-top: 0px solid #444;
            }
        }
    }

    .footer {
        button {
            margin-top: 5px;
            padding: 8px 14px 8px 14px;
        }
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .header .box {
        top: 25%;
    }
}

@media (min-width: 1441px) and (max-width: 2560px) {}

@media (min-width: 2561px) {}

/* No media query since the extra-large breakpoint has no upper bound on its width*/
/*end media query*/
/*
--for big problem.
-for small problem.
--chat button:complete the chat button;
--our stats:add counter on numbers using css animation (:after/:before) or ****.js;
--latest blog post:add blog posts using css3 properties/ if click on view all the user go to blog page ;
--wanna hire us:add functions on send message via button;
--recommendations:learn about the recommendations and how can i use recommendation button;
--big footer: add the href="" on skype button/add a in list with link with html pages

-add light/dark mode on blog page
-real chat/all things about chat......
-complete faq and about page
*/