/*# colors*/
/*basic colors*/
$light-green:rgba(119, 221, 102, 1);
$medium-green:rgba(84, 196, 122, 1);
$dark-green:rgba(66, 183, 42, 1);
$light-bg:rgba(66, 186, 255, .1);
$meduim-bg:rgba(9, 132, 227, 1.0);
$dark-bg:rgba(17, 85, 102, .5);
/*end basic colors*/
$text-color:#d8edff;
$bg:#44bbff;
$star-color:#fc6e00;
$hero-bg:#286090; //#1e526f was here
$nav-color:#44bbff;
$footer-text-color:#85ceff;
$button-color:#85ceff;
$ourSkills-bg:#f9f9f9;
$transparent:#0000ffff;
$border-color:#fff;
$white:#fff;
$box-shadow-color:rgba(0, 0, 0, 0.3);
$box-shadow-color-1:rgba(17, 85, 102, .5);
$box-shadow-color-2:rgba(0, 0, 0, 0.22);
$box-shadow-color-3:rgba(0, 0, 0, 0.16);
