/* #Navigation */
.navigation {
    width: 100%;

    &-checkbox {
        display: none;
    }

    &-button {
        @include boxShadow($box-shadow-style);
        background-color: $white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        border-radius: 50%;
        top: 3.5rem;
        right: 3.5rem; //left: calc(100% - 7rem * 1.5);
        z-index: 2000;
        text-align: center;
        cursor: pointer;
    }

    &-background {
        min-width: 6rem;
        min-height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 4rem;
        right: 4rem;
        z-index: 1000;
        background-image: radial-gradient($meduim-bg, $dark-bg); //learn more about this*/
        //transform:scale(0); was here*/
        transition: transform .6s cubic-bezier(.86, 0, .007, 1);
    }

    &-nav {
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        width: 0;
        transition: all .4s linear;
        background-image: linear-gradient(to bottom left, #2196f396
            /*rgba(66, 186, 255, .4)*/
            , #0984e3);
    }

    &-list {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translate(-100%, -50%);
        list-style: none;
        text-align: center;
    }

    &-item {
        margin: 1rem;
    }

    &-link {

        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            color: $white;
            padding: 1rem 2rem;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white 50%); //learn more about this
            background-size: 230%; //learn more about this
            transition: all .6s;

            span {
                display: inline-block;
                margin-right: 1.5rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100%; //learn more about this
            color: $bg;
            transform: translateX(1rem);
        }
    }

    &-checkbox:checked~&-nav &-list {
        position: absolute;
        top: 50%;
        left: 48%;
        transform: translate(-52%, -50%);
    }

    &-checkbox:not(:checked)~&-nav &-list {
        opacity: 0;
    }

    //function
    &-checkbox:checked~&-background {
        transform: scale(80);
    }

    &-checkbox:checked~&-nav {
        opacity: 1
            /*0 was here*/
        ;
        width: 105%
            /*0% was here*/
            /*105%=100% + 5% -nav used '5%' to keep above the scroll bar */
        ;
    }

    //icon
    //
    &-icon {
        position: relative;
        margin-top: 3.5rem;
        @include transition;

        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            display: inline-block;
            background-color: #333;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {
            top: 1rem;
        }

        &::after {
            top: -1rem;
        }
    }

    &-button:hover &-icon::before {
        top: .1rem;
        transform: rotate(90deg);
    }

    &-button:hover &-icon::after {
        top: -.05rem;
    }

    &-button:hover &-icon {
        background: transparent;
        transform: rotate(90deg);
    }

    &-checkbox:checked+&-button &-icon::before {
        transform: rotate(-135deg);
        top: -1px;
    }

    &-checkbox:checked+&-button &-icon::after {
        transform: rotate(135deg);
        top: -1px;
    }

    &-checkbox:checked+&-button &-icon {
        background: transparent;
        top: 1px;
    }

    //learn more about this
}