/* #Typography rules */
$header-height:95vh;
$hero-bg-height:250px;
$footer-height:61.38px;
$to-top-btn-x:45px;
$to-top-btn-y:$to-top-btn-x;
$heading-margin-bottom:30px;
$heading-margin-top:$heading-margin-bottom * 2;
$paragraph-margin-bottom:$heading-margin-bottom * 2;
$paragraph-margin-top:$heading-margin-bottom * 2;

