/* #Sass Variables */
$box-shadow-style: 0px 8px 15px $box-shadow-color;
$box-shadow-style-1: 1px 8px 25px $box-shadow-color-1;
$box-shadow-style-2: 0 8px 20px -10px $box-shadow-color-2;
$box-shadow-style-3: 0 10px 20px $box-shadow-color-3;